<div class="container">
    <h1>URL </h1>
  <form (ngSubmit)="addLink(fullUrl.value)">
    <label  >Url</label>
    <input  placeholder="Url"  name="fullUrl" id="fullUrl" #fullUrl>
    <input type="submit" value="Add" style="border: 0px;" class="btn" >
  </form>
     
      
    
    
    <table >
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
     
          <tr *ngFor="let item of urlList">
            <td><a [href]="item.full" >{{item.full}}</a></td>
            <td><a a [href]="item.short"  (click)="urlClicked(item.short)">{{item.short}}</a></td>
            <td>{{item.clicks}}</td>
         </tr>

      </tbody>
    </table>

    <h3 class="logout " (click)="logout()">logout</h3>
  </div>

