<div class="container-login">  
    <div class="wrapper">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="/">
    <title> Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

 
    <div class="form-inner">
 <div class="app-container" ng-reflect-ng-class="[object Object]">
   <div class="col-md-6 offset-md-3 mt-5">
      <div class="card">
        <h4 class="card-header">Signup</h4>

        <div class="card-body">
            <form novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-invalid">
            <form class="signup"  [formGroup]="SignupForm" (ngSubmit)="signup()">
                <div class="field">
                  <input type="text" formControlName="name" placeholder="Name" >
                </div>
                <div class="field">
                    <input type="text" formControlName="email" placeholder="Email" >
                  </div>
                <div class="field">
                  <input type="password" formControlName="password" placeholder="Password" >
                </div>
                <div class="field">
                  <input type="password" formControlName="password2" placeholder="Confirm password" >
                </div>
                <div class="field btn">
                  <div class="btn-layer">
                </div>
                <input type="submit" value="Signup" style="border: 0px;">
                </div>
              </form>
</form>
</div>
</div>
 
</div>
 
</div>

</div> </div>